* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #000;
    color: #fff;
    margin-top: 0px;
  }
  
  header {
    width: 100%;
    height: 100vh;
    background: url('dach1.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover; 
    justify-content: center;
    padding: 0 5%;

    background-size: center;
    padding-top:0px ;
  }
  
  nav {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
  
  }
  
  .logo {
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logo span {
    color: #00bfff;
  }
  
  .nav-links {
    list-style: none;
    display:flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: bold;
    text-transform: capitalize;
  }
  
  .nav-links li a:hover {
    color: #00bfff;
    transition: .4s;
  }
  
  .btn {
    padding: 10px 20px;
    background: #ff0066;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
  }
  .btn:hover{
    background-color: transparent;
    border: 2px #f9004d;
    cursor: pointer;
    transform: scale(1.2);
  }
  
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 70px;
    margin: 2opx 0px 20px;
  }
  
  h1 span {
    color: #ff0066;
  }
  span {
    color: #ff0066;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 30px;
    font-size: 25px;
  }
  
  .newsletter {
    display: flex;
    gap: 10px;
  }
  
  .newsletter  input {
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    width: 250px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background: #ff0066;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  .about{
   width:100%;
   padding: 100px 0px;
   background-color: #191919;
   
  }
  .about img{
    height: auto;
    width: 430px;
  }
  .about-text{
    width: 550px;
  }
  .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    align-items:center ;
    justify-content : space-around;

  }
  .about-text h2{
     color: white;
     font-size: 75px;
     text-transform: capitalize;
     margin-bottom: 20px;

  }
  .about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  .about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  }
  button{
    padding: 10px 20px;
    background: #ff0066;
    color: white;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  button:Hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
